---
layout: default
weight: 0
title: Publications
permalink: /bib/
---

<style type="text/css">
.abstract {
    display: none;
    padding-left: 2em;
    font-family: serif;
}
input:checked + .abstract {
    display: block;
}
</style>

<h1>Publications</h1>

<p>
See also my <a href="{{site.scholar_link}}">Google Scholar user page</a>.
</p>

{% assign pubs = site.data.bib | sort: 'date' | reverse %}
{% for p in pubs %}

<h3>
    {% if p.link %}
    <a href="{{p.link}}">{{ p.title }}</a>
    {% else %}
    {{ p.title }}
    {% endif %}
    {% if p.pdf %}<a style="font-size:small;" href="{{p.pdf}}">[pdf]</a>{% endif %}
    {% if p.preprint %}<a style="font-size:small;" href="{{p.preprint}}">[preprint]</a>{% endif %}
</h3>

<div style="margin-bottom:15px; padding-left:1em;">
    <p>
        <small>
            {{p.note}}
            {{ p.authors | join: ", " }}
            {% if p.publication %}
            in <i>{{p.publication }}</i>
            {% elsif p.institution %}
            at <i>{{ p.institution }}</i>
            {% endif %}
            {{ p.date }}
        </small>
    </p>
    {{ p.comment | markdownify }}
    {% if p.abstract %}
    Show abstract: <input type="checkbox" value="selected"/>
    <div class="abstract">{{ p.abstract | markdownify }}</div>
    {% endif %}
</div>


{% endfor %}
