---
layout: default
---

<div class="home">

  <div class="content left column-8 fullscreen-on-mobile">
    <h1 class="page-heading">Posts</h1>


    <ul class="post-list">
      {% for post in paginator.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2 style="margin-bottom: 10px">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          {% if post.description %}
            {% assign desc = post.description %}
          {% else %}
            {% assign desc = post.excerpt | remove: '<p>' | remove: '</p>' %}
          {% endif %}
            <p class="small light-font">
              {{ desc | truncate: site.quick_view_length, '...' }}
            </p>
        </li>
      {% endfor %}
    </ul>

    <div class="pagination-navigation">
      {% if paginator.previous_page %}
        <div class="left">
          <a class="previous pagination-link" href="{{ paginator.previous_page_path }}">&#10554; &nbsp;&nbsp; Previous</a>
        </div>
      {% endif %}
      {% if paginator.next_page %}
        <div class="right">
          <a class="next pagination-link" href="{{ paginator.next_page_path }}">Next &nbsp;&nbsp; &#10555;</a>
        </div>
      {% endif %}
    </div>

  </div>

  {% include sidebar-right.html %}
  <div class="clearfix"></div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
