---
title: Projects
permalink: /projects/
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    <p>Welcome to the projects subdirectory</p>
    <p>Here you can find old and new projects that I have been or am working on</p>
    <ul style="list-style-type:none">
      {% for project in site.projects %}
        <li class="project">
          <a href="{{ project.url }}">
            <h4 class="project-title">{{ project.title }}</h4>
          </a>
          {% include project-meta.html %}
        </div>
      {% endfor %}
    </ul>
  </article>

</div>
