{% extends "_base.html" %} 

{% block content %}
<div id="wrapper">
  <div id="blank"></div>
  <aside>
    {% if page.extra.toc is defined %}{% set show_toc = page.extra.toc %}{% else %}{% set show_toc = false %}{% endif %}
    {% if show_toc and page.toc %}
    <nav>
      <ul>
        {% for h2 in page.toc %}
        <li>
          <a class="h2" href="#{{ h2.id | safe }}">{{ h2.title }}</a>
          {% if h2.children %}
          <ul>
            {% for h3 in h2.children %}
            <li>
              <a class="h3" href="#{{ h3.id | safe }}">{{ h3.title }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
  </aside>
  <main>
    <div>
      {% if page.extra.copy is defined %}{% set allow_copy = page.extra.copy %}{% else %}{% set allow_copy = false %}{% endif %}
      {% if allow_copy %}
      {% set copy_icon = load_data(path="icon/copy.svg") %}
      {% set check_icon = load_data(path="icon/check.svg") %}
      <div id="copy-cfg" style="display: none;" data-copy-icon="{{ copy_icon }}" data-check-icon="{{ check_icon }}"></div>
      {% endif %}
      <article class="prose">
        <h1>{{ page.title }}</h1>
        <div id="post-info">
          {% if page.taxonomies.tags is defined %}
          <div id="tags">
            {% for tag in page.taxonomies.tags -%}
            {% set tag_slugify = tag | slugify -%}
            <a class="instant" href="{{ config.base_url ~ '/tags/' ~ tag_slugify }}"><span>#</span>{{ tag }}</a>
            {%- endfor %}
          </div>
          {% endif %}
        </div>

        {% if page.extra.outdate_alert is defined %}{% set show_outdate_alert = page.extra.outdate_alert %}{% else %}{% set show_outdate_alert = false %}{% endif %}
        {% if page.extra.outdate_alert_days is defined %}{% set outdate_alert_days = page.extra.outdate_alert_days %}{% else %}{% set outdate_alert_days = false %}{% endif %}

        {{ page.content | safe }}
      </article>

      {% if page.extra.reaction is defined %}{% set show_reaction = page.extra.reaction %}{% else %}{% set show_reaction = config.extra.reaction %}{% endif %}
      {% if show_reaction %}
      <div class="reaction {{ config.extra.reaction_align }}" data-endpoint="{{ config.extra.reaction_endpoint }}"></div>
      {% endif %}

      {% if page.extra.comment is defined %}{% set show_comment = page.extra.comment %}{% else %}{% set show_comment = false %}{% endif %}
      {% if show_comment %}
      <div class="giscus"></div>
      {% include "_giscus_script.html" %}
      {% endif %}
    </div>

    {% include "_footer.html" %}
  </main>
</div>
{% endblock content %}