{% if site.github %}
<div class="github-repo-overview">

  {% assign repos = site.github.public_repositories | sort: 'created_at' | reverse %}
  {% assign extra_sites = site.data.projects.additional_sites %}
  {% for repo in repos %}

    <div class="repository{% if forloop.last %} last{% endif %}">

      <h3 class="repository-name left"><a href="{{ repo.html_url }}">{{ repo.name }}{% if repo.fork %} (fork){% endif %}</a></h3>

      <p class="repository-statistics small right">
        <span class="watchers">Watchers: {{ repo.watchers_count }}</span>
        <span class="stargazers">Stars: {{ repo.stargazers_count }}</span>
        <span class="forks">Forks: {{ repo.forks_count }}</span>
      </p>

      <div class="clearfix"></div>

      <p class="repo-description">
        {{ repo.description }}
      </p>

      <p class="external-pages">
        {% if extra_sites contains repo.name %}
          <span><a href="{{ extra_sites[repo.name].url }}">Local project page</a></span>
        {% endif %}

        {% if repo.has_pages %}
          <span><a href="http://{{ repo.owner.login }}.github.io/{{ repo.name }}">GitHub Pages</a></span>
        {% endif %}

        {% if repo.homepage and repo.fork != true %}
          <span><a href="{{ repo.homepage }}">External Homepage</a></span>
        {% endif %}
      </p>
    </div>
  {% endfor %}
</div>
{% endif %}
