<div class="github-buttons">

  {% unless project %}
    {% assign project = page %}
  {% endunless %}

  {% if project.github_link and project.github_buttons != false %}

    {% assign info = project.github_link | split: "/" %}
  
    {% capture baseurl %}https://ghbtns.com/github-btn.html?user={{ info[0] }}&repo={{ info[1] }}&count=true&type={% endcapture %}

    {% unless project.watch_button == false %}
      <span class="watch">
        <iframe src="{{ baseurl }}watch&v=2" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </span>
    {% endunless %}

    {% unless project.star_button == false %}
      <span class="star">
        <iframe src="{{ baseurl }}star" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </span>
    {% endunless %}

    {% unless project.fork_button == false %}
      <span class="fork">
        <iframe src="{{ baseurl }}fork" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </span>
    {% endunless %}

  {% endif %}

</div>
