<header class="site-header">

  <div class="wrapper">

	  <img class="page-logo" src="{{ site.page_logo.default }}" alt="Page logo"/>

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

          <a class="page-link" href="/blog/">Blog</a>
          <a class="page-link" href="/england-blog/">England Blog (Deutsch)</a>
      </div>
    </nav>

  </div>

</header>
