<div class="project-meta small">
  {% unless project %}
    {% assign project = page %}
  {% endunless %}

  {% if project.author %}
    <p>Author: <span class="project-author">{{ project.author }}</span></p>
  {% endif %}

  {% if project.date %}
    <p>from <span class="project-date">{{ project.date | date: "%b %-d, %Y" }}</span></p>
  {% endif %}

  {% if project.languages %}
    <p>Language{% if project.languages.size > 1 %}s{% endif %}:
      <span class="languages">
        {{ project.languages | join: ", " }}
      </span>
    </p>
  {% endif %}

  {% if project.status %}
    <p>Current status: <span class="project-status">{{ project.status }}</span></p>
  {% endif %}

  {% if project.github_link %}
    <p><a href="https://github.com/{{ project.github_link }}">Repository on GitHub</a></p>
  {% endif %}

  {% if project.documentation and project.documentation.link %}
    <p><a href="{{ project.documentation.link }}">Documentation</a>
      {% if project.documentation.host %}on {{ project.documentation.host }}{% endif %}
    </p>
  {% endif %}
</div>
