{% assign snippet = include.snippet %}

{% unless include.show_name == false %}
  <div class="centered"><strong>{{ snippet.name }}</strong></div>
{% endunless %}

{% if snippet.language %}
  {% assign langpath = snippet.language | append: '/' %}
{% endif %}

{% capture snippet_path %}snippets/{{ langpath }}{{ snippet.path }}{% endcapture %}

{% highlight python %}
{% include {{ snippet_path }} %}
{% endhighlight %}
{% if snippet_base_url and include.link_source != false %}
  <small><em>Source: [{{ snippet_base_url }}/{{ snippet_path }}]({{ snippet_base_url }}/{{ snippet_path }})</em></small>
{% endif %}
