{% assign snippet = include.snippet %}

{% capture snippet_path %}snippets/python/{{ snippet.path }}{% endcapture %}

{% highlight python linenos %}
{% include {{ snippet_path }} %}
{% endhighlight %}
<div class="snippet-meta light-font">
  {% unless include.show_name == false %}
    <div>
      <small class="right">{{ snippet.name }}</small>
    </div>
    <div class="clearfix"></div>
  {% endunless %}
  {% unless include.link_source == false %}
    <div>
      <small class="right">
        <em>
          This snippets source on <a href="{{ site.snippet_base_url }}/{{ snippet_path }}">GitHub</a>
        </em>
      </small>
    </div>
  {% endunless %}
  <div class="clearfix"></div>
</div>
