{% assign snippet = include.snippet %}

{% if snippet.language %}
  {% assign langpath = snippet.language | append: '/' %}
{% endif %}

{% capture snippet_path %}snippets/{{ langpath }}{{ snippet.path }}{% endcapture %}

{% highlight python linenos %}
{% include {{ snippet_path }} %}
{% endhighlight %}
<div class="snippet-meta light-font">
  {% unless include.show_name == false %}
    <div>
      <small class="right">{{ snippet.name }}</small>
    </div>
    <div class="clearfix"></div>
  {% endunless %}
  {% if snippet_base_url and include.link_source != false %}
    <div>
      <small class="right">
        <em>
          This snippets source on <a href="{{ snippet_base_url }}/{{ snippet_path }}">GitHub</a>
        </em>
      </small>
    </div>
  {% endif %}
  <div class="clearfix"></div>
</div>
