{% if not page %}
{% set page = section %}
{% endif %}
<header class="site-header">

  <div class="wrapper">
      {% if config.extra.page_logo.default %}
	  <img class="page-logo" src="{{ config.extra.page_logo.default }}" alt="Page logo"/>
	  {% endif %}

    <a class="site-title" href="{{ config.base_url }}/">{{ config.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% set pages = config.extra.menu %}
        {% for p in pages %}
          {% if p.name %}
          <a class="page-link" href="{{ config.base_url ~ p.url }}">{{ p.name }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
