@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

tt, code, kbd, samp {
  font-family: "Source Code Pro"
}

.sidebar.right {
  padding-right: 0;
}

.fact-list {
  list-style-type: none;
  margin: 0;

  li {
    margin: 10px 0 5px;
    padding: 0 5px 5px;
    border-bottom: 1px solid $grey-color-light;
  }

  li.last {
    border-bottom-style: none;
  }
}

.legal-section {
  padding-bottom: 0;
  .footer-col {
    margin-bottom: 0;
  }
}

.footnotes {
  @extend .small;

  margin-top: 70px;
  padding-top: 30px;
  border-top: 1px solid $grey-color;
}

.github-repo-overview .repository {
  margin: 25px;
}

.repository-statistics > span {
  margin-right: 25px;
}
