.sidebar.right {
  padding-right: 0;
  @extend .desktop-only;
}

.fact-list {
  list-style-type: none;
  margin: 0;

  li {
    margin: 10px 0 5px;
    padding: 0 5px 5px;
    border-bottom: 1px solid $grey-color-light;
  }

  li.last {
    border-bottom-style: none;
  }
}

.legal-section {
  padding-bottom: 0;
  .footer-col {
    margin-bottom: 0;
  }
}

.footnotes {
  @extend .small;

  margin-top: 70px;
  padding-top: 30px;
  border-top: 1px solid $grey-color;
}
