@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

tt, code, kbd, samp {
  font-family: "Source Code Pro";
  font-size: 14px;
}

.sidebar.right {
  padding-right: 0;
}

.fact-list {
  list-style-type: none;
  margin: 0;

  li {
    margin: 10px 0 5px;
    padding: 0 5px 5px;
    border-bottom: 1px solid $grey-color-light;
  }

  li.last {
    border-bottom-style: none;
  }
}

.legal-section {
  padding-bottom: 0;
  .footer-col {
    margin-bottom: 0;
  }
}

.footnotes {
  @extend .small;

  margin-top: 70px;
  padding-top: 30px;
  border-top: 1px solid $grey-color;
}

.github-repo-overview .repository {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid $grey-color-light;
}

.github-repo-overview .repository.last {
  border-bottom-style: none;
}

.repository-statistics {
  margin-top: 15px;
}

.repository-statistics > span {
  margin-left: 25px;
}

.page-logo {
  height: 36px;
  padding: 10px;
  float: left;
}

.info-box {
  padding: 30px 35px;
}

.info-box.blue {
  color: $white;
  background-color: $alt-blue;
}

.blue a {
  color: $orange;
}

.external-pages > span {
  margin-right: 20px;
  display: inline-block;
}

.weighted-light {
  color: #83d84b;
}

.weighted-middle {
  color: #e29d27;
}

.weighted-heavy {
  color: #ec185e;
}

.weighted-none {
  color: $grey-color;
}

.button {
  border: 1px solid $grey-color-light;
  border-radius: 5px;
  display: inline-block;
  padding: 3px 5px;
  box-shadow: 0 0 2px $grey-color-light;
}
