.small {
  font-size: small;
}

p.small, .small p, p.smaller, .smaller p {
  margin-bottom: 0.5em;
}

.smaller {
  font-size: smaller;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.light-font {
  color: $grey-text-color-light;
}

.column-4 {
  width: 33%;
}

.column-8 {
  width: 66%;
}

.column-12 {
  width: 100%;
}
